<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux Kernel Report</title>
</head>
<body>
    <h1>Linux Kernel Report</h1>
    <table border="1">
        <tr>
            <th>Hostname</th>
            <th>Kernel Version</th>
        </tr>
        {% for host, info in ansible_play_batch %}
            <tr>
                <td>{{ host }}</td>
                <td>{{ kernel_version }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
